*
  box-sizing: border-box

html
  -webkit-tap-highlight-color: transparent;

html, body
  overflow-x: hidden

body
  +font-rendering
  font-family: $font
  font-size: 1em
  line-height: 1.4
  margin: 0

p
  color: $text_color
  line-height: 1.6

.container
  max-width: 680px
  padding: 0 10px

  &:before,
  &:after
    content: ''
    display: table

.box-center
  margin: 0 auto

.text-center
  text-align: center