$font: 'Josefin Sans', sans-serif
$color01: #ffb347
$color02: #ffcc33
$color03: #f09819
$color04: #edde5d
$color05: #945b31

$title: #333333
$subtitle: #333333

$header_title: #ffffff
$text_color: #191919

$danger: #d41d1d

$queen_bee_color: #ffb559
$worker_bee_color: #f5cc61
$drone_bee_color: #c5c4c4
$bee_wings: #eae8e8