.header 
  +gradient($color01, $color02)
  border-bottom: 4px solid rgba($color05, 0.2)
  clear: both
  margin-bottom: 30px

  &__title
    color: $header_title
    font-size: 3em
    font-weight: 400
    margin: 80px 0 0 0
  
  &__subtitle
    color: $header_title
    font-size: 1.6em
    font-weight: 400
    margin: 0 0 80px 0